<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aman Taycon">
    <meta name="robots" content="INDEX, FOLLOW">
    <link rel="shortcut icon" href="/image/DSA_Trainer.ico" type="image/x-icon">


    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/setting.css">
    <link rel="stylesheet" href="/css/floattab.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <link rel="stylesheet" href="/css1/simple_light.css">
    <link rel="stylesheet" href="/css1/main.css">
    <link rel="stylesheet" href="/css1/responsivenase.css">
    <link rel="stylesheet" href="/css/popop.css">

    <title>Profile | DSA TRAINER</title>

</head>

<body id="body" class="ifect_page">
    <header id="ulogo" class="stit0 shead " style="position: fixed; width: 100vw;">
        <div class="header-m blur">
            <div class="flex_r m-lr-20">
                <a class="flex_r" href="/">
                    <div class="center">
                        <img class="header-lg center" src="/image/DSA_transparent1.png" alt="logo of website">
                    </div>
                </a>
            </div>

            <div class="centerrow"></div>

            <div class="center">
                <div class="center">
                    <!-- <% if(user.id) { %> -->
                    <!-- <span onclick="showUserNav()">
                            <img id="usernav" class="header-up center pointer"
                                src="/<%- user.userurl %>/profile_pic" alt="userdp">
                        </span> -->
                    <!-- <% } else { %> -->
                    <a href="/login">
                        <img id="usernav" class="header-up center pointer" src="/image/sign_in.webp" alt="sign in">
                    </a>
                    <!-- <% } %> -->
                </div>
            </div>
        </div>
        <!-- <% if(user){ %>
            <nav id="usernavli1" class="usernav">
                <ul class="usernavul blur">
                    <li class="usernavli userd"><%- user.userurl %></li>
                    <li class="usernavli userd"><%- user.email %></li>
                    <li class="usernavli ">
                        <a class="z_top posck" href="/<%- user.userurl %>">Profile</a>
                    </li>
                    <li class="usernavli ">
                        <a class="z_top posck" href="/setting">Settings</a>
                    </li>
                    <li class="usernavli"><a class="z_top posck"
                            href="/logout">Logout</a></li>
                </ul>
                <div class="ifect ifect10"></div>
            </nav>
        <% } %> -->
    </header>
    <main>
        <div class="ifectp ifect14"></div>
        <div class="ifectp ifect15"></div>
        <div class="ifectp ifect16"></div>
        <div class="ifectp ifect17"></div>
        <div class="ifectp ifect18"></div>
        <div class="ifectp ifect19"></div>
        <div id="main">
            <div style="height: 15vh;"></div>

                <div class="profilev">
                    <div class="sbox seti1">
                        <div class="prfpic1">
                            <img class="prfpic1" src='./image/DSA_white.png' alt="DP">
                        </div>
                        <div class="welfname white">Aman Kumar</div><br>
                        <div><h3 class="bioh">Bio</h3></div>
                        <div class="bio white"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perferendis, harum, explicabo incidunt corrupti sit nemo nihil, officiis omnis aut reprehenderit pariatur praesentium fuga repudiandae consequatur amet similique velit natus.</p></div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <script src="/js/nav.js"></script>
</body>

</html>